# Documentation static site generator
mkdocs == 1.6.*

mkdocs-git-revision-date-plugin ==  0.3.*

# https://github.com/blueswen/mkdocs-glightbox
mkdocs-glightbox == 0.3.*

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
mkdocs-material == 9.*
